*{
    margin: 0;
    padding: 0%;
    list-style: none;
    text-decoration: none;
}
body{
    background-color: rgb(241, 241, 241);
}
nav li{
    display:    inline-block;
    padding:15px
}
nav  a  {
    text-decoration:none ;
    color: black;
    font-size:22px;
    font-weight: bold;
    text-transform:uppercase
}
header{
    background-color: rgb(175, 123, 123);
    padding: 20px 0;
}
.content{
    width:940px;
    margin:0 auto;
}
nav{
    float:right;
    margin-top:70px;
}
.produtos  li{
    display:inline-block;
    text-align: center;
    width: 30%;
    vertical-align: top;
}
.produtos h2{
    font-size: 30px;
    font-weight:bold;
}
.produtos .preco{
    font-size: 22px;
    font-weight: bold;
}
.produtos .desc{
    font-size:18px;
}