body{
background: black;
color: white;
}
p{
	text-align:	center;
}
em strong{
	color:#ff0000;
}
h1{ color: #00ff00;
}
.items{
	font-style: italic;
	list-style: none;
}
#beneficios{
	width:100%;
}